* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

#jumbotron-container {
  border-bottom: 1px solid #e9ecef;
}

header {
  background-color: #F8F9FC;
}

#navbar {
  width: 1110px;
  margin: auto;
  height: 74px;
}
#navbar #logo {
  height: 100%;
  width: 134px;
  display: flex;
  align-items: center;
  float: left;
}
#navbar #logo img {
  width: 100%;
}
#navbar #menu {
  float: left;
  height: 100%;
  width: calc(100% - 134px - 174px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar #menu li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
#navbar #menu li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #3C4858;
}
#navbar #menu li a:hover {
  color: #007bff;
}
#navbar #search {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}
#navbar #search li {
  list-style: none;
  display: inline-block;
  background-color: #E4E9F8;
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 2px;
  border-radius: 5px;
  box-shadow: 1px 7px 6px -1px #d0d9f3;
}
#navbar #search li:first-child {
  box-shadow: none;
  border: none;
}
#navbar #search li button {
  background-color: #F8F9FC;
  border: none;
  color: gray;
  font-size: 1.1em;
  font-weight: lighter;
}
#navbar #search li button:hover {
  cursor: pointer;
}
#navbar #search li i {
  font-size: 1.1em;
  padding: 11px;
}

#jumbotron {
  width: 1110px;
  margin: auto;
  padding: 184px 0 90px;
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-position: right;
}
#jumbotron #j-left {
  width: 50%;
}
#jumbotron #j-left h1 {
  font-size: 46px;
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 1.3;
}
#jumbotron #j-left #dev {
  display: inline-block;
  background-color: #E4E9F8;
  color: #007bff;
  border-radius: 15px;
  border: 1px solid #adb5bd;
  padding: 5px;
  font-weight: 500;
  font-size: 12px;
}
#jumbotron #j-left .text {
  color: #adb5bd;
  font-size: 18px;
  line-height: 1.5;
}
#jumbotron #j-left #buttons {
  margin-top: 40px;
  margin-bottom: 20px;
}
#jumbotron #j-left #buttons #start {
  padding: 12px 20px;
  text-decoration: none;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
  color: white;
  background-color: #2F55D4;
  margin-right: 10px;
}
#jumbotron #j-left #buttons #start:hover {
  background-color: #284bc1;
}
#jumbotron #j-left #buttons #doc {
  padding: 12px 20px;
  text-decoration: none;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
}
#jumbotron #j-left #buttons #doc:hover {
  background-color: #2F55D4;
  color: white;
}

#logos-container {
  height: 120px;
}
#logos-container #logos {
  width: 1110px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 40px;
  border-bottom-left-radius: 22%;
  border-bottom-right-radius: 22%;
  padding-bottom: 53px;
  background-color: #F8F9FC;
}
#logos-container #logos .logo {
  display: inline-block;
}
#logos-container #logos .logo img {
  width: 160px;
  height: 25px;
}

#key-features {
  width: 1110px;
  margin: auto;
  margin-top: 150px;
}
#key-features h2 {
  font-size: 34px;
  margin-bottom: 20px;
}
#key-features p {
  color: #adb5bd;
  font-weight: bold;
}
#key-features p span {
  color: #2F55D4;
}
#key-features #features {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#key-features #features .card {
  width: 22%;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px 2px #e9ecef;
  position: relative;
  top: 0;
}
#key-features #features .card .icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f8f9fc;
  font-size: 170px;
  z-index: -1;
  opacity: 0;
}
#key-features #features .card:hover .icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f8f9fc;
  font-size: 170px;
  z-index: -1;
  transition: 0.8s ease;
  opacity: 1;
}
#key-features #features .card:hover {
  top: -10px;
}
#key-features #features .card .icon {
  background-color: #E4E9F8;
  padding: 20px;
  font-size: 24px;
  border-radius: 5px;
  color: #007bff;
  margin-bottom: 20px;
  opacity: 0.8;
}
#key-features #features .card h3 {
  margin-bottom: 20px;
}
#key-features #features .card p {
  margin-bottom: 20px;
  font-size: 15px;
}
#key-features #features .card a {
  text-decoration: none;
}
#key-features #features .card a .arrow {
  font-size: 12px;
  background-color: white;
}

#awesome {
  width: 1110px;
  margin: auto;
  margin-top: 150px;
}
#awesome #top-part {
  text-align: center;
}
#awesome #top-part #quickstart {
  color: #007bff;
  font-weight: bold;
}
#awesome #top-part h2 {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 40px;
}
#awesome #top-part p {
  color: #adb5bd;
}
#awesome #top-part p span {
  color: #007bff;
  font-weight: bold;
}
#awesome #bottom-part {
  width: 704px;
  margin: auto;
  margin-top: 100px;
}
#awesome #bottom-part #pannel {
  background-color: #3c4858;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
#awesome #bottom-part #pannel ul {
  background-color: #4F5A69;
  border: 1px solid #586270;
  border-radius: 5px;
}
#awesome #bottom-part #pannel li {
  list-style: none;
  display: inline-block;
  padding: 10px 60px;
  font-size: 18px;
  color: white;
}
#awesome #bottom-part #pannel .active {
  background-color: #3c4858;
  border-radius: 5px;
}
#awesome #bottom-part #pannel p {
  color: #adb5bd;
  font-weight: bold;
  margin-top: 20px;
}
#awesome #bottom-part #pannel p span {
  color: #2eca8b;
}
#awesome #checkmarks li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  color: #adb5bd;
  font-weight: bold;
}
#awesome #checkmarks li i {
  color: #2eca8b;
}

#build-tools {
  width: 1110px;
  margin: auto;
  margin-top: 150px;
  display: flex;
}
#build-tools #toolsImg {
  width: 50%;
}
#build-tools #toolsImg img {
  height: 450px;
  float: right;
}
#build-tools #info {
  width: 50%;
}
#build-tools #info h2 {
  font-size: 34px;
  margin-bottom: 40px;
}
#build-tools #info p {
  color: #adb5bd;
  font-weight: bold;
  margin-bottom: 30px;
}
#build-tools #info ul {
  margin-bottom: 40px;
}
#build-tools #info li {
  list-style: none;
  color: #adb5bd;
  font-weight: bold;
}
#build-tools #info li i {
  color: #007bff;
  margin-bottom: 10px;
}
#build-tools #info a {
  padding: 12px 20px;
  text-decoration: none;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
  background-color: #2F55D4;
  color: white;
}
#build-tools #info a i {
  font-size: 12px;
}

footer {
  background-color: #202942;
}

#top-container {
  border-bottom: 1px solid #26304F;
}

#footer-top {
  width: 1110px;
  margin: auto;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
#footer-top #info-social img {
  height: 24px;
}
#footer-top #info-social p {
  margin: 40px 0;
  color: #adb5bd;
  font-weight: bold;
}
#footer-top #info-social li {
  list-style: none;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}
#footer-top #info-social li a {
  color: white;
}
#footer-top #company h3, #footer-top #links h3 {
  margin-bottom: 40px;
  font-size: 1.4em;
  font-weight: lighter;
  color: white;
}
#footer-top #company li, #footer-top #links li {
  list-style: none;
  margin-bottom: 15px;
}
#footer-top #company li a, #footer-top #links li a {
  text-decoration: none;
  color: #adb5bd;
  transition: 0.5s ease;
}
#footer-top #company li a:hover, #footer-top #links li a:hover {
  color: white;
}
#footer-top #company li a i, #footer-top #links li a i {
  font-size: 12px;
  margin-right: 15px;
}
#footer-top #newsletter h3 {
  margin-bottom: 40px;
  font-size: 1.4em;
  font-weight: lighter;
  color: white;
}
#footer-top #newsletter p {
  color: #adb5bd;
}
#footer-top #newsletter #mail {
  margin: 20px 0;
  position: relative;
  color: #adb5bd;
}
#footer-top #newsletter #mail span {
  color: #E43F52;
}
#footer-top #newsletter #mail i {
  position: absolute;
  top: 44px;
  left: 10px;
}
#footer-top #newsletter #mail input {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding-left: 40px;
  border: none;
  border-radius: 5px;
  background-color: #27314F;
  transition: 0.5s ease;
}
#footer-top #newsletter #mail input:focus {
  outline: none;
  border: 1px solid blue;
  border-radius: 5px;
}
#footer-top #newsletter #subscribe button {
  padding: 12px 20px;
  text-decoration: none;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
  width: 100%;
  background-color: #222E51;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 4px #233363;
  transition: 0.5s ease;
}
#footer-top #newsletter #subscribe button:hover {
  background-color: #2F54D4;
  box-shadow: none;
  color: white;
}

#footer-bottom {
  width: 1110px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer-bottom #copyright {
  color: #adb5bd;
}
#footer-bottom #copyright span {
  color: red;
}
#footer-bottom #payment img {
  height: 25px;
}
