* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

#jumbotron-container {
  border-bottom: 1px solid #e9ecef;
}

header {
  background-color: #F8F9FC;
}

#navbar {
  width: 1110px;
  height: 74px;
  margin: auto;
}
#navbar #logo {
  height: 100%;
  width: 134px;
  display: flex;
  align-items: center;
  float: left;
}
#navbar #logo img {
  width: 100%;
}
#navbar #menu {
  float: left;
  height: 100%;
  width: calc(100% - 134px - 174px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar #menu li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
#navbar #menu li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #3C4858;
}
#navbar #menu li a:hover {
  color: #007bff;
}
#navbar #search {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}
#navbar #search li {
  list-style: none;
  display: inline-block;
  background-color: #E4E9F8;
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 2px;
  border-radius: 5px;
  box-shadow: 1px 7px 6px -1px #d0d9f3;
}
#navbar #search li:first-child {
  box-shadow: none;
  border: none;
}
#navbar #search li button {
  background-color: #F8F9FC;
  border: none;
  color: gray;
  font-size: 1.1em;
  font-weight: lighter;
}
#navbar #search li button:hover {
  cursor: pointer;
}
#navbar #search li i {
  font-size: 1.1em;
  padding: 11px;
}

#jumbotron {
  width: 1110px;
  padding: 184px 0 90px;
  margin: auto;
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-position: right;
}
#jumbotron #j-left {
  width: 50%;
}
#jumbotron #j-left h1 {
  font-size: 46px;
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 1.3;
}
#jumbotron #j-left #dev {
  display: inline-block;
  background-color: #E4E9F8;
  color: #007bff;
  border-radius: 15px;
  border: 1px solid #adb5bd;
  padding: 5px;
  font-weight: 500;
  font-size: 12px;
}
#jumbotron #j-left .text {
  color: #adb5bd;
  font-size: 18px;
  line-height: 1.5;
}
#jumbotron #j-left #buttons {
  margin-top: 40px;
  margin-bottom: 20px;
}
#jumbotron #j-left #buttons #start {
  padding: 12px 20px;
  text-decoration: none;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
  color: white;
  background-color: #2F55D4;
  margin-right: 10px;
}
#jumbotron #j-left #buttons #start:hover {
  background-color: #284bc1;
}
#jumbotron #j-left #buttons #doc {
  padding: 12px 20px;
  text-decoration: none;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
}
#jumbotron #j-left #buttons #doc:hover {
  background-color: #2F55D4;
  color: white;
}

#logos-container {
  height: 120px;
}
#logos-container #logos {
  width: 1110px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 40px;
  border-bottom-left-radius: 22%;
  border-bottom-right-radius: 22%;
  padding-bottom: 53px;
  background-color: #F8F9FC;
}
#logos-container #logos .logo {
  display: inline-block;
}
#logos-container #logos .logo img {
  width: 160px;
  height: 25px;
}

#key-features {
  width: 1110px;
  margin: auto;
  margin-top: 150px;
}
#key-features h2 {
  font-size: 34px;
  margin-bottom: 20px;
}
#key-features p {
  color: #adb5bd;
  font-weight: bold;
}
#key-features p span {
  color: #2F55D4;
}
#key-features #features {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#key-features #features .card {
  width: 20%;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px 2px #e9ecef;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
#key-features #features .card:hover {
  top: -10px;
}
#key-features #features .card .icon {
  background-color: #E4E9F8;
  padding: 20px;
  font-size: 24px;
  border-radius: 5px;
  color: #007bff;
  margin-bottom: 20px;
}
#key-features #features .card h3 {
  margin-bottom: 20px;
}
#key-features #features .card p {
  margin-bottom: 20px;
  font-size: 15px;
}
#key-features #features .card a {
  text-decoration: none;
}
#key-features #features .card a .arrow {
  font-size: 12px;
  background-color: white;
}
