* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

#jumbotron-container {
  border-bottom: 1px solid #e9ecef;
}

.section-style {
  width: 1110px;
  margin: auto;
  margin-top: 150px;
}

.h2title {
  font-size: 30px;
  margin-bottom: 20px;
}

.text-style {
  color: #adb5bd;
  font-weight: bold;
}

.landrick {
  color: #007bff;
}

header {
  position: relative;
  background-color: #F8F9FC;
}

#sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}
#sign-in #sign-in-window {
  width: 60%;
  height: 75%;
  display: flex;
  border-radius: 10px;
  background-color: white;
}
#sign-in #sign-in-window #left-img {
  width: 50%;
  height: 100%;
}
#sign-in #sign-in-window #left-img img {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#sign-in #sign-in-window #sign-right {
  width: 50%;
  padding: 50px 20px;
}
#sign-in #sign-in-window #sign-right #your_mail {
  position: relative;
  margin-bottom: 20px;
}
#sign-in #sign-in-window #sign-right #your_mail input {
  width: 100%;
  height: 40px;
  padding-left: 45px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 10px;
}
#sign-in #sign-in-window #sign-right #your_mail i {
  font-size: 16px;
  position: absolute;
  top: 42px;
  left: 17px;
}
#sign-in #sign-in-window #sign-right #your_password {
  position: relative;
}
#sign-in #sign-in-window #sign-right #your_password input {
  width: 100%;
  height: 40px;
  padding-left: 45px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 10px;
}
#sign-in #sign-in-window #sign-right #your_password i {
  font-size: 16px;
  position: absolute;
  top: 42px;
  left: 17px;
}
#sign-in #sign-in-window #sign-right #checkbox {
  margin-top: 20px;
}
#sign-in #sign-in-window #sign-right #checkbox label {
  margin-right: 85px;
}
#sign-in #sign-in-window #sign-right #checkbox a {
  color: black;
  text-decoration: none;
}
#sign-in #sign-in-window #sign-right #sign-in-button {
  margin-top: 20px;
  text-align: center;
}
#sign-in #sign-in-window #sign-right #sign-in-button button {
  padding: 10px 25px;
  text-decoration: none;
  background-color: #2F55D4;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
  box-shadow: 0px 2px 5px 0px #2F55D4;
  color: white;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
}
#sign-in #sign-in-window #sign-right #sign-in-button p {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}
#sign-in #sign-in-window #sign-right #sign-in-button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#navbar {
  width: 1110px;
  margin: auto;
  height: 74px;
}
#navbar #logo {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  float: left;
}
#navbar #logo img {
  height: 24px;
}
#navbar #menu {
  float: left;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar #menu li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
#navbar #menu li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #3C4858;
}
#navbar #menu li a:hover {
  color: #007bff;
}
#navbar #search {
  float: right;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
}
#navbar #search li {
  list-style: none;
  display: inline-block;
  background-color: #E4E9F8;
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px #a7b8e8;
}
#navbar #search li:first-child {
  box-shadow: none;
  border: none;
}
#navbar #search li:first-child i {
  color: lightgrey;
}
#navbar #search li:first-child i:hover {
  color: lightgrey;
}
#navbar #search li:hover {
  background-color: #2F55D4;
}
#navbar #search li button {
  background-color: #F8F9FC;
  border: none;
  color: gray;
  font-size: 1.1em;
  font-weight: lighter;
}
#navbar #search li button:hover {
  cursor: pointer;
}
#navbar #search li i {
  font-size: 1.1em;
  padding: 10px;
  color: #2F55D4;
}
#navbar #search li i:hover {
  color: white;
}

#jumbotron {
  width: 1110px;
  margin: auto;
  padding: 184px 0 90px;
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-position: right;
}
#jumbotron #j-left {
  width: 50%;
}
#jumbotron #j-left h1 {
  font-size: 46px;
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 1.3;
}
#jumbotron #j-left #dev {
  display: inline-block;
  background-color: #E4E9F8;
  color: #007bff;
  border-radius: 15px;
  border: 1px solid #adb5bd;
  padding: 5px;
  font-weight: 500;
  font-size: 12px;
}
#jumbotron #j-left .text {
  color: #adb5bd;
  font-size: 18px;
  line-height: 1.5;
}
#jumbotron #j-left #buttons {
  margin-top: 40px;
  margin-bottom: 20px;
}
#jumbotron #j-left #buttons #start {
  padding: 10px 25px;
  text-decoration: none;
  background-color: #2F55D4;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
  box-shadow: 0px 2px 5px 0px #2F55D4;
  color: white;
  margin-right: 10px;
}
#jumbotron #j-left #buttons #start:hover {
  background-color: #284bc1;
}
#jumbotron #j-left #buttons #doc {
  padding: 10px 25px;
  text-decoration: none;
  background-color: #2F55D4;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
  box-shadow: 0px 2px 5px 0px #2F55D4;
  background-color: #F8F9FC;
  box-shadow: none;
}
#jumbotron #j-left #buttons #doc:hover {
  background-color: #2F55D4;
  box-shadow: 0px 2px 5px 0px #2F55D4;
  color: white;
}

#logos-container {
  height: 120px;
}
#logos-container #logos {
  width: 1110px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 40px;
  border-bottom-left-radius: 22%;
  border-bottom-right-radius: 22%;
  padding-bottom: 53px;
  background-color: #F8F9FC;
}
#logos-container #logos .logo {
  display: inline-block;
}
#logos-container #logos .logo img {
  width: 160px;
  height: 25px;
}

#features {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#features .card {
  width: 22%;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px 2px #e9ecef;
  position: relative;
  top: 0;
}
#features .card .icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f8f9fc;
  font-size: 170px;
  z-index: -1;
  opacity: 0;
}
#features .card:hover .icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f8f9fc;
  font-size: 170px;
  z-index: -1;
  transition: 0.8s ease;
  opacity: 1;
}
#features .card:hover {
  top: -10px;
}
#features .card .icon {
  margin-bottom: 20px;
  background-color: #E4E9F8;
  padding: 20px;
  border-radius: 5px;
  font-size: 24px;
  color: #007bff;
  opacity: 0.8;
}
#features .card h3 {
  margin-bottom: 20px;
}
#features .card p {
  margin-bottom: 20px;
  font-size: 15px;
}
#features .card a {
  color: #007bff;
  text-decoration: none;
}
#features .card a .arrow {
  font-size: 12px;
  background-color: white;
}

#top-part {
  text-align: center;
}
#top-part #quickstart {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 20px;
}

#bottom-part {
  width: 704px;
  margin: auto;
  margin-top: 80px;
}
#bottom-part #pannel {
  background-color: #3c4858;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
#bottom-part #pannel ul {
  background-color: #4F5A69;
  border: 1px solid #586270;
  border-radius: 5px;
}
#bottom-part #pannel li {
  list-style: none;
  display: inline-block;
  padding: 10px 60px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
#bottom-part #pannel li:hover {
  background-color: #3c4858;
  border-radius: 5px;
}
#bottom-part #pannel .active {
  background-color: #3c4858;
  border-radius: 5px;
}
#bottom-part #pannel p {
  color: #adb5bd;
  font-weight: bold;
  margin-top: 20px;
}
#bottom-part #pannel p span {
  color: #2eca8b;
}

#checkmarks li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  color: #adb5bd;
  font-weight: bold;
}
#checkmarks li i {
  color: #2eca8b;
}

#build-tools {
  display: flex;
}
#build-tools #toolsImg {
  width: 50%;
}
#build-tools #toolsImg img {
  height: 450px;
  float: right;
}
#build-tools #info {
  width: 50%;
  padding-top: 30px;
}
#build-tools #info ul {
  margin: 40px 0;
}
#build-tools #info li {
  list-style: none;
  margin-bottom: 10px;
  color: #adb5bd;
  font-weight: bold;
}
#build-tools #info li i {
  color: #007bff;
}
#build-tools #info a {
  padding: 10px 25px;
  text-decoration: none;
  background-color: #2F55D4;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
  box-shadow: 0px 2px 5px 0px #2F55D4;
  background-color: #2F55D4;
  color: white;
}
#build-tools #info a:hover {
  background-color: #284bc1;
}
#build-tools #info a i {
  font-size: 12px;
}

#rates {
  text-align: center;
}
#rates #rate-cards {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
#rates #rate-cards .rate-card {
  padding: 20px;
  box-shadow: 0px 0px 2px 0px #adb5bd;
  border-bottom: 5px solid #adb5bd;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.5s ease;
  transition: 0.5s ease;
  position: relative;
}
#rates #rate-cards .rate-card:hover {
  transform: scale(1.05);
  border-bottom: 5px solid #2F55D4;
  box-shadow: 0px 0px 10px 0px #adb5bd;
}
#rates #rate-cards .rate-card #ribbon-container {
  position: absolute;
  right: -6px;
  top: -5px;
  width: 85px;
  height: 85px;
  overflow: hidden;
}
#rates #rate-cards .rate-card #ribbon-container #ribbon {
  position: absolute;
  top: 24px;
  right: -23px;
  background-color: #f17425;
  padding: 0px 43px;
  text-align: center;
  color: white;
  transform: rotate(45deg);
}
#rates #rate-cards .rate-card #ribbon-container #ribbon:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #d55b0e;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #d55b0e;
}
#rates #rate-cards .rate-card #ribbon-container #ribbon:after {
  content: "";
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: -1;
  border-right: 3px solid #d55b0e;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #d55b0e;
}
#rates #rate-cards .rate-card h4 {
  display: inline-block;
  margin-bottom: 15px;
  background-color: #E4E9F8;
  color: #007bff;
  border-radius: 41px;
  border: 1px solid #E2E8F9;
  padding: 10px 22px;
  font-weight: bold;
  font-size: 16px;
}
#rates #rate-cards .rate-card h3 {
  font-size: 40px;
}
#rates #rate-cards .rate-card #per-month {
  margin-bottom: 20px;
}
#rates #rate-cards .rate-card ul {
  border-top: 1px solid #E2E8F9;
  margin: 20px 0;
  padding-top: 20px;
}
#rates #rate-cards .rate-card ul li {
  list-style: none;
  padding-bottom: 10px;
  color: #adb5bd;
  font-weight: bold;
}
#rates #rate-cards .rate-card ul li i {
  color: #007bff;
}
#rates #rate-cards .rate-card a {
  padding: 10px 25px;
  text-decoration: none;
  background-color: #2F55D4;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
  box-shadow: 0px 2px 5px 0px #2F55D4;
  padding: 12px 119px;
  background-color: #2F55D4;
  color: white;
  box-shadow: 0px 2px 6px 0px #adb5bd;
  transition: 0.5s ease;
}
#rates #rate-cards .rate-card a:hover {
  background-color: #2443AD;
}
#rates #rate-cards .rate-card #asterisk {
  margin-top: 30px;
}

#subscribe-section {
  text-align: center;
}
#subscribe-section #mail {
  margin-top: 50px;
  position: relative;
}
#subscribe-section #mail input {
  width: 670px;
  height: 50px;
  border-radius: 25px;
  padding-left: 28px;
  padding-right: 170px;
  border: 1px solid #EEF1F3;
}
#subscribe-section #mail input:focus {
  outline: none;
}
#subscribe-section #mail a {
  position: absolute;
  right: 229px;
  top: 6px;
  padding: 7px 20px;
  text-decoration: none;
  color: white;
  background-color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 27px;
  box-shadow: 0 2px 4px 0px #2f55d4;
  transition: 0.5s ease;
}
#subscribe-section #mail a:hover {
  background-color: #2443AD;
}

footer {
  background-color: #202942;
}

#top-container {
  border-bottom: 1px solid #26304F;
}

#footer-top {
  width: 1110px;
  margin: auto;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
#footer-top #info-social img {
  height: 24px;
}
#footer-top #info-social p {
  margin: 40px 0;
  color: #adb5bd;
  font-weight: bold;
}
#footer-top #info-social li {
  list-style: none;
  display: inline-block;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  line-height: 30px;
  text-align: center;
  transition: 0.9s ease;
}
#footer-top #info-social li:hover {
  background-color: #2F55D4;
  border: #2F55D4;
}
#footer-top #info-social li:hover a {
  color: white;
}
#footer-top #info-social li a {
  color: #adb5bd;
}
#footer-top #company h3, #footer-top #links h3 {
  margin-bottom: 40px;
  font-size: 1.4em;
  font-weight: lighter;
  color: white;
}
#footer-top #company li, #footer-top #links li {
  list-style: none;
  margin-bottom: 15px;
}
#footer-top #company li a, #footer-top #links li a {
  text-decoration: none;
  color: #adb5bd;
  transition: 0.5s ease;
}
#footer-top #company li a:hover, #footer-top #links li a:hover {
  color: white;
}
#footer-top #company li a i, #footer-top #links li a i {
  font-size: 12px;
  margin-right: 15px;
}
#footer-top #newsletter h3 {
  margin-bottom: 40px;
  font-size: 1.4em;
  font-weight: lighter;
  color: white;
}
#footer-top #newsletter p {
  color: #adb5bd;
}
#footer-top #newsletter #mail {
  margin: 20px 0;
  position: relative;
  color: #adb5bd;
}
#footer-top #newsletter #mail span {
  color: #E43F52;
}
#footer-top #newsletter #mail i {
  position: absolute;
  top: 44px;
  left: 10px;
}
#footer-top #newsletter #mail input {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding-left: 40px;
  border: none;
  border-radius: 5px;
  background-color: #27314F;
  transition: 0.5s ease;
}
#footer-top #newsletter #mail input:focus {
  outline: none;
  border: 1px solid blue;
  border-radius: 5px;
}
#footer-top #newsletter #subscribe button {
  padding: 10px 25px;
  text-decoration: none;
  background-color: #2F55D4;
  color: #2F55D4;
  border: 1px solid #2F55D4;
  border-radius: 7px;
  box-shadow: 0px 2px 5px 0px #2F55D4;
  width: 100%;
  background-color: #222E51;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 4px #233363;
  transition: 0.5s ease;
}
#footer-top #newsletter #subscribe button:hover {
  background-color: #2F54D4;
  box-shadow: none;
  color: white;
}

#footer-bottom {
  width: 1110px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer-bottom #copyright {
  color: #adb5bd;
}
#footer-bottom #copyright span {
  color: red;
}
#footer-bottom #payment img {
  height: 25px;
  margin-right: 5px;
}
