<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Landrick</title>
  </head>
  <body>
    <div id="container">

      <header>
        <!-- navbar -->
        <div id="navbar">
          <div id="logo">
            <a href="#">
              <img :src="logo" alt="Logo">
            </a>
          </div>
          <div id="menu">
            <ul>
              <li v-for="menu in navMenu"> <a :href=" menu.link " target="_blank"> {{ menu.name }} <i :class="menu.dropdown"></i> </a> </li>
            </ul>
          </div>
          <div id="search">
            <ul>
              <li><button><i class="fas fa-search"></i></button></li>
              <li v-for="button in navButtons"> <a :href="button.link" target="_blank"><i :class="button.icon"></i></a> </li>
            </ul>
          </div>
        </div>
        <!-- <div id="sign-in">

        </div> -->
        <!-- /navbar -->
        <!-- jumbotron -->
        <div id="jumbotron-container">
          <div id="jumbotron">
            <div id="j-left">
              <p id="dev">Development</p>
              <h1>A Complete <br> Developer Toolset</h1>
              <p class="text">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap4 html page.</p>
              <div id="buttons">
                <a id="start" href="#">Get Started</a>
                <a id="doc" href="#">Documentation</a>
              </div>
              <p class="text">Current Version: v2.6.0</p>
            </div>
          </div>
        </div>
        <!-- /jumbotron -->
        <!-- logos -->
        <div id="logos-container">
          <div id="logos">
            <div class="logo">
              <img src="img/amazon.svg" alt="">
            </div>
            <div class="logo">
              <img src="img/google.svg" alt="">
            </div>
            <div class="logo">
              <img src="img/lenovo.svg" alt="">
            </div>
            <div class="logo">
              <img src="img/paypal.svg" alt="">
            </div>
            <div class="logo">
              <img src="img/shopify.svg" alt="">
            </div>
            <div class="logo">
              <img src="img/spotify.svg" alt="">
            </div>
          </div>

        </div>
        <!-- /logos -->
      </header>
      <main>
        <!-- key features -->
        <div id="key-features" class="section-style">
          <h2 class="h2title">Key Features</h2>
          <p class="text-style">Start working with <span class="landrick">Landrick</span> that can provide everything you need to generate <br> awareness, drive traffic, connect.</p>
          <div id="features">
            <div class="card">
              <div class="card-overlay">
                <i class="icon-overlay fas fa-layer-group"></i>
              </div>
                <i class="icon fas fa-layer-group"></i>
                <h3>Modular</h3>
                <p class="text-style">Composed in a pseudo-Latin language which more or less corresponds.</p>
                <a href="#">Read More <i class="arrow fas fa-chevron-right"></i></a>

            </div>
            <div class="card">
              <div class="card-overlay">
                <i class="icon-overlay fas fa-desktop"></i>
              </div>
                <i class="icon fas fa-desktop"></i>
                <h3>Responsive</h3>
                <p class="text-style">Composed in a pseudo-Latin language which more or less corresponds.</p>
                <a href="#">Read More <i class="arrow fas fa-chevron-right"></i></a>
            </div>
            <div class="card">
              <div class="card-overlay">
                <i class="icon-overlay fas fa-atom"></i>
              </div>
                <i class="icon fas fa-atom"></i>
                <h3>Customizable</h3>
                <p class="text-style">Composed in a pseudo-Latin language which more or less corresponds.</p>
                <a href="#">Read More <i class="arrow fas fa-chevron-right"></i></a>
            </div>
            <div class="card">
              <div class="card-overlay">
                <i class="icon-overlay fas fa-expand-arrows-alt"></i>
              </div>
                <i class="icon fas fa-expand-arrows-alt"></i>
                <h3>Scalable</h3>
                <p class="text-style">Composed in a pseudo-Latin language which more or less corresponds.</p>
                <a href="#">Read More <i class="arrow fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <!-- /key features -->
        <!-- dive in -->
        <div id="awesome" class="section-style">
          <div id="top-part">
            <p id="quickstart">Quickstart</p>
            <h2 class="h2title">Awesome isn't it? Let's dive in!</h2>
            <p class="text-style">Start working with <span class="landrick">Landrick</span> that can provide everything you need to generate <br> awareness, drive traffic, connect.</p>
          </div>
          <div id="bottom-part">
            <div id="pannel">
              <ul>
                <li class="active">npm</li>
                <li>nuget</li>
                <li>spm</li>
                <li>github</li>
              </ul>
              <div id="details">
                <p><span>$</span> npm install <span>-g</span> claps.js</p>
              </div>
            </div>
            <ul id="checkmarks">
              <li><i class="far fa-check-circle"></i> <span>Organize your data</span></li>
              <li><i class="far fa-check-circle"></i> <span>Work with any team</span></li>
            </ul>
          </div>
        </div>
        <!-- /dive in -->
        <!-- tools and documentation -->
        <div id="build-tools" class="section-style">
          <div id="info">
            <h2 class="h2title">Build tools and <br> extensive documentation</h2>
            <p class="text-style">You can combine all the Landrick templates into a single one, you can take a component from the Application theme and use it in the Website.</p>
            <ul>
              <li><i class="far fa-check-circle"></i> Digital Marketing Solutions for Tomorrow</li>
              <li><i class="far fa-check-circle"></i> Our Talented & Experienced Marketing Agency</li>
              <li><i class="far fa-check-circle"></i> Create your own skin to match your brand</li>
            </ul>
            <a href="">Read More  <i class="fas fa-arrow-right"></i></a>
          </div>
          <div id="toolsImg">
            <img src="img/1.png" alt="">
          </div>
        </div>
        <!-- /tools and documentation -->
        <!-- rates -->
        <div id="rates" class="section-style">
          <h2 class="h2title">Our rates for developer from landrick team</h2>
          <p class="text-style">Start working with <span class="landrick">Landrick</span>  that can provide everything you need to generate awareness, <br> drive traffic, connect.</p>
          <div id="rate-cards">
            <div class="rate-card">
              <h4>Basic</h4>
              <h3>$9.00</h3>
              <p id="per-month" class="text-style">Per Month</p>
              <p class="text-style">All the basics for businesses that are just <br> getting started.</p>
              <ul>
                <li><i class="far fa-check-circle"></i> Full Access</li>
                <li><i class="far fa-check-circle"></i> Enhanced Security</li>
                <li><i class="far fa-check-circle"></i> Enhanced Security</li>
                <li><i class="far fa-check-circle"></i> 1 Domain Free</li>
                <li><i class="far fa-check-circle"></i> Enhanced Security</li>
              </ul>
              <a href="">Buy Now</a>
              <p id="asterisk" class="text-style">&#42; No credit card required</p>
            </div>

            <div class="rate-card">
              <div id="ribbon-container">
                <div id="ribbon">Best</div>
              </div>
              <h4>Business</h4>
              <h3>$39.99</h3>
              <p id="per-month" class="text-style">Per Month</p>
              <p class="text-style">Better for growing businesses that want <br> more customers.</p>
              <ul>
                <li><i class="far fa-check-circle"></i> Full Access</li>
                <li><i class="far fa-check-circle"></i> Enhanced Security</li>
                <li><i class="far fa-check-circle"></i> Enhanced Security</li>
                <li><i class="far fa-check-circle"></i> 1 Domain Free</li>
                <li><i class="far fa-check-circle"></i> Enhanced Security</li>
              </ul>
              <a href="">Buy Now</a>
              <p id="asterisk" class="text-style">&#42; No credit card required</p>
            </div>

            <div class="rate-card">
              <h4>Enterprise</h4>
              <h3>$79.99</h3>
              <p id="per-month" class="text-style">Per Month</p>
              <p class="text-style">Advanced features for pros who need <br> more customization.</p>
              <ul>
                <li><i class="far fa-check-circle"></i> Full Access</li>
                <li><i class="far fa-check-circle"></i> Enhanced Security</li>
                <li><i class="far fa-check-circle"></i> Enhanced Security</li>
                <li><i class="far fa-check-circle"></i> 1 Domain Free</li>
                <li><i class="far fa-check-circle"></i> Enhanced Security</li>
              </ul>
              <a href="">Buy Now</a>
              <p id="asterisk" class="text-style">&#42; No credit card required</p>
            </div>
          </div>
        </div>
        <!-- /rates -->
        <!-- subscribe -->
        <div id="subscribe-section">
          <h2>Want to be among the first to find out?</h2>
          <p>Start working with <span>Landrick</span>  that can provide everything you need to generate awareness, <br> drive traffic, connect.</p>
          <div id="mail">
            <input type="text" name="" value="" placeholder="Email Adress">
            <a href="">Get Started</a>
          </div>
        </div>
        <!-- /subscribe -->
      </main>
      <footer>
        <!-- footer top -->
        <div id="top-container">
          <div id="footer-top">
            <div id="info-social">
              <a href="#">
                <img :src= "footerLogo" alt="Landrick logo">
              </a>

              <p>Start working with Landrick that can provide <br> everything you need to generate awareness,<br> drive traffic, connect.</p>
              <ul>
                <li v-for="social in socials"> <a :href="social.link" target="_blank"><i :class="social.icon"></i></a> </li>
              </ul>
            </div>
            <div id="company">
              <h3>Company</h3>
              <ul>
                <li v-for="info in companyLinks"><a :href="info.link" target="_blank"><i class="fas fa-chevron-right"></i> {{ info.name }}</a></li>
              </ul>
            </div>
            <div id="links">
              <h3>Usefull Links</h3>
              <ul>
                <li v-for="usefull in usefullLinks">
                  <a :href="usefull.link" target="_blank"><i class="fas fa-chevron-right"></i> {{ usefull.name }}</a>
                </li>
              </ul>
            </div>
            <div id="newsletter">
              <h3>Newsletter</h3>
              <p>Sign up and receive the latest tips <br> via email.</p>
              <div id="mail">
                <p id="">Write your email <span>&#42;</span></p>
                <i class="far fa-envelope"></i>
                <input type="text" name="" value="" placeholder="Your email:">
              </div>
              <div id="subscribe">
                <button type="button" name="button">Subscribe</button>
              </div>
            </div>
          </div>

        </div>
        <!-- /footer top -->
        <!-- footer bottom -->
        <div id="footer-bottom">
          <div id="copyright">
            <p>&copy; 2021 Landrick. Design with <span>&hearts;</span> by Shreethemes.</p>
          </div>
          <div id="payment">
            <a v-for="card in cards" :href="card.link" target="_blank">
              <img :src="card.image" alt="">
            </a>
          </div>
        </div>
        <!-- /footer bottom -->
      </footer>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
