#build-tools {
  display: flex;
  #toolsImg {
    width: 50%;
    img {
      height: 450px;
      float: right;
    }
  }
  #info {
    width: 50%;
    padding-top: 30px;
    ul {
      margin: 40px 0;
    }
    li {
      list-style: none;
      margin-bottom: 10px;
      color: $fontColor;
      font-weight: bold;
      i {
        color: $blueCheckmarks;
      }
    }
    a {
      @include btn;
      background-color: $buttonColor;
      color: white;
      &:hover {
        background-color: $buttonHoverColor;
      }
      i {
        font-size: 12px;
      }
    }
  }
}
