#top-part {
  text-align: center;
  #quickstart {
    color: $navMenuHoverColor;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
#bottom-part {
  width: 704px;
  margin: auto;
  margin-top: 80px;
  #pannel {
    background-color: $pannelColor;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    ul {
      background-color: $secondPannelColor;
      border: 1px solid #586270;
      border-radius: 5px;
    }
    li {
      @include list-inline;
      padding: 10px 60px;
      font-size: 18px;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: $pannelColor;
        border-radius: 5px;
      }
    }
    .active {
      background-color: $pannelColor;
      border-radius: 5px;
    }
    p {
      color: $fontColor;
      font-weight: bold;
      margin-top: 20px;
      span {
        color: $greenCheckmarks;
      }
    }
  }
}
#checkmarks li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  color: $fontColor;
  font-weight: bold;
  i {
    color: $greenCheckmarks;
  }
}
