#top-container {
  border-bottom: 1px solid #26304F;
}
#footer-top {
  @include containerSpace;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;

  #info-social {
    img {
      height: 24px;

    }
    p {
      margin: 40px 0;
      color: $fontColor;
      font-weight: bold;
    }
    li {
      list-style: none;
      display: inline-block;
      border: 1px solid white;
      border-radius: 5px;
      height: 30px;
      width: 30px;
      margin-right: 5px;
      line-height: 30px;
      text-align: center;
      a {
        color: white;
      }
    }
  }
  #company, #links {
    h3 {
      @include footerTitle;
    }
    li {
      list-style: none;
      margin-bottom: 15px;

      a {
        text-decoration: none;
        color: $fontColor;
        transition: .5s ease;
        &:hover {
          color: white;
        }
        i {
          font-size: 12px;
          margin-right: 15px;
        }
      }
    }
  }
  #newsletter {
    h3 {
      @include footerTitle;
    }
    p {
      color: $fontColor;
    }
    #mail {
      margin: 20px 0;
      position: relative;
      color: $fontColor;
      span {
        color: #E43F52;
      }
      i {
        position: absolute;
        top: 44px;
        left: 10px;
      }
      input {
        height: 40px;
        width: 100%;
        margin-top: 10px;
        padding-left: 40px;
        border: none;
        border-radius: 5px;
        background-color: #27314F;
        transition: .5s ease;
        &:focus {
          outline: none;
          border: 1px solid blue;
          border-radius: 5px;
        }
      }
    }
    #subscribe {
      button {
        @include btn;
        width: 100%;
        background-color: #222E51;
        border: none;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 4px 4px #233363;
        transition: .5s ease;
        &:hover {
          background-color: #2F54D4;
          box-shadow: none;
          color: white;
        }
      }
    }
  }
}
