#navbar {
  @include navBarMeasurements;
  #logo{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    float: left;
    img {
      height: 24px;
    }
  }
  #menu {
    float: left;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      @include list-inline;
      margin: 0 20px;
      a {
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        color: $navbarFontColor;
        &:hover {
          color: $navMenuHoverColor;
        }
      }
    }
  }
  #search {
    float: right;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    li {
      @include list-inline;
      background-color: $iconsBackgroundColor;
      width: 36px;
      height:36px;
      text-align: center;
      margin: 4px;
      border-radius: 5px;
      box-shadow: 0px 2px 5px 0px darken($iconsBackgroundColor, 15%);
      &:first-child {
        box-shadow: none;
        border: none;
        i {
          color: lightgrey;
          &:hover{
            color: lightgrey;
          }
        }
      }
      &:hover {
        background-color: $buttonColor;
      }
      button {
        background-color: $headerBackgroundColor;
        border: none;
        color: gray;
        font-size: 1.1em;
        font-weight: lighter;
        &:hover {
          cursor: pointer;

        }
      }
      i {
        font-size: 1.1em;
        padding: 10px;
        color: $buttonColor;
        &:hover {
          color: white;
        }
      }
    }
  }
}
