$headerBackgroundColor: #F8F9FC;
$navbarFontColor: #3C4858;
$navMenuHoverColor: #007bff;
$iconsBackgroundColor: #E4E9F8;
$buttonColor: #2F55D4;
$buttonHoverColor: #284bc1;
$fontColor: #adb5bd;
$jumbotronImage: "../img/about.png";
$h2size: 30px;
$pannelColor: #3c4858;
$secondPannelColor: #4F5A69;
$greenCheckmarks: #2eca8b;
$blueCheckmarks: #007bff;
// $toolsImage: "../img/1.png"
$footerBackground: #202942;
